.app-logo {
    font-family: 'Alfa Slab One', Arial, Helvetica, sans-serif;
    font-size: 30px;
  }

.navbar-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.tag-line {
    font-family: 'Alfa Slab One', Arial, Helvetica, sans-serif;
    font-size: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid #bbb;
}

.desk-nav {
    display: flex;
    align-items: center;
}

.mobile-nav {
    width: 100%;
    display: none;
    background-color: #fff;
    position: fixed;
    bottom: 0;
    border-top: 1px solid #bbb;
}

.footer-link {
    width: 150px;
    color: #212529;
    border-radius: 5px;
}

.footer-link:hover {
    background-color: #212529;
    color: #fff;
}

.profile-picture {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    border: 1px solid #212529;
    object-fit: cover;
    object-position: center;
}


@media(max-width: 992px) {
    .desk-nav-links {
        display: none;
    }

    .mobile-nav {
        display: flex;
        align-items: center;
        justify-content: space-around;
        height: 80px;
    }
}